img[alt="blog-illustration"]{
   width: 70%;
   max-width: 500px;
   margin: 1rem 0;
}

h1{
  color: #FFFFFF;
  margin: 1rem 0;
}

.blog-header{
  color: #0c0c0c;
  padding:0.5rem;
  text-align: left;
  color: white;
  width: 70%;
  border-top: 2px solid #66f2f2;
  border-bottom: 2px solid #66f2f2;
  display: flex;
  align-items: center;
  
}

header img{
  width: 10%;
  border-radius: 50%;
  margin-right: 1rem;
}

section{
  width: 70%;
  text-align: left;
  color: white;
  border-bottom: 2px solid #66f2f2;
}

section h2{
  margin: 1rem 0;
}

section img{
  float: right;
  width: 35%;
  margin: 1rem; 
}

section p{
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 1rem;
  font-size: 120%;
}

footer{
  width: 70%;
}